<html xmlns:margin="http://java.sun.com/xml/ns/persistence/orm">
<link type="text/css" rel="stylesheet" href="style.css" />
<body>
{{^person}}
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="userName"/>
    <input type="password" placeholder="Password" name="password"/>
    <button type="submit">Login</button>
</form>
{{/person}}
{{#person}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action="/addMax" method="post">
    <input type="number" placeholder="Bench Max" name="bench"/>
    <input type="number" placeholder="Shoulder Press Max" name="shoulderPress"/>
    <input type="number" placeholder="Squat Max" name="squat"/>
    <input type="number" placeholder="Dead Lift Max" name="deadLift"/>
    <button type="submit">Calculate</button>
</form>
{{/person}}
{{#calculated}}
<table>
    <caption>Week One: 65%, 75%, 85%</caption>
<tr> <th>Bench</th> <th>Shoulder Press</th> <th>Squat</th> <th>Dead Lift</th> </tr>
    <tr> <td>5 x {{benchA1}}</td> <td>5 x {{pressA1}}</td> <td>5 x {{squatA1}}</td> <td>5 x {{liftA1}}</td></tr>
    <tr> <td>5 x {{benchA2}}</td> <td>5 x {{pressA2}}</td> <td>5 x {{squatA2}}</td> <td>5 x {{liftA2}}</td></tr>
    <tr> <td>5 x {{benchA3}}</td> <td>5 x {{pressA3}}</td> <td>5 x {{squatA3}}</td> <td>5 x {{liftA3}}</td></tr>
</table>
<table>
    <caption>Week Two: 70%, 80%, 90%</caption>
    <tr> <th>Bench</th> <th>Shoulder Press</th> <th>Squat</th> <th>Dead Lift</th> </tr>
    <tr> <td>3 x {{benchB1}}</td> <td>3 x {{pressB1}}</td> <td>3 x {{squatB1}}</td> <td>3 x {{liftB1}}</td></tr>
    <tr> <td>3 x {{benchB2}}</td> <td>3 x {{pressB2}}</td> <td>3 x {{squatB2}}</td> <td>3 x {{liftB2}}</td></tr>
    <tr> <td>3 x {{benchB3}}</td> <td>3 x {{pressB3}}</td> <td>3 x {{squatB3}}</td> <td>3 x {{liftB3}}</td></tr>
</table>
<table>
    <caption>Week Three: 75%, 85%, 95%</caption>
    <tr> <th>Bench</th> <th>Shoulder Press</th> <th>Squat</th> <th>Dead Lift</th> </tr>
    <tr> <td>5 x {{benchC1}}</td> <td>5 x {{pressC1}}</td> <td>5 x {{squatC1}}</td> <td>5 x {{liftC1}}</td></tr>
    <tr> <td>3 x {{benchC2}}</td> <td>3 x {{pressC2}}</td> <td>3 x {{squatC2}}</td> <td>3 x {{liftC2}}</td></tr>
    <tr> <td>1 x {{benchC3}}</td> <td>1 x {{pressC3}}</td> <td>1 x {{squatC3}}</td> <td>1 x {{liftC3}}</td></tr>
</table>
<table>
    <caption>Week Four: 40%, 50%, 60%</caption>
    <tr> <th>Bench</th> <th>Shoulder Press</th> <th>Squat</th> <th>Dead Lift</th> </tr>
    <tr> <td>5 x {{benchD1}}</td> <td>5 x {{pressD1}}</td> <td>5 x {{squatD1}}</td> <td>5 x {{liftD1}}</td></tr>
    <tr> <td>5 x {{benchD2}}</td> <td>5 x {{pressD2}}</td> <td>5 x {{squatD2}}</td> <td>5 x {{liftD2}}</td></tr>
    <tr> <td>5 x {{benchD3}}</td> <td>5 x {{pressD3}}</td> <td>5 x {{squatD3}}</td> <td>5 x {{liftD3}}</td></tr>
</table>
<br>
{{/calculated}}
{{#person}}
<form action="/addNote" method="post">
    <input type="text" placeholder="Add a note" name="text"/>
    <button type="submit">Submit</button>
</form>

<ol>

    {{#note}}
    <li>{{text}}</li>
    {{/note}}

</ol>


{{#showNext}}
<a href="/?page={{nextPage}}">Next</a>
{{/showNext}}
{{#showPrev}}
<a href="/?page={{prevPage}}">Previous</a>
{{/showPrev}}


{{/person}}
</body>
</html>