<html>
<body>
{{^person}}
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="userName"/>
    <input type="password" placeholder="Password" name="password"/>
    <button type="submit">Login</button>
</form>
{{/person}}
{{#person}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action="/addMax" method="post">
    <input type="number" placeholder="Bench Max" name="bench"/>
    <input type="number" placeholder="Shoulder Press Max" name="shoulderPress"/>
    <input type="number" placeholder="Squat Max" name="squat"/>
    <input type="number" placeholder="Dead Lift Max" name="deadLift"/>
    <button type="submit">Calculate</button>
</form>
{{/person}}
{{#calculated}}
<table style="width:100%">
<tr> <th>Week One</th> </tr>
<tr> <th>Bench</th> <th>Shoulder Press</th> <th>Squat</th> <th>Dead Lift</th> </tr>
    <tr> <td>5 x {{benchA1}}</td> <td>5 x {{pressA1}}</td> <td>5 x {{squatA1}}</td> <td>5 x {{liftA1}}</td></tr>
</table>
{{/calculated}}
</body>
</html>