<html>
<body>
{{^person}}
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="userName"/>
    <input type="password" placeholder="Password" name="password"/>
    <button type="submit">Login</button>
</form>
{{/person}}
{{#person}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action="/addMax" method="post">
    <input type="number" placeholder="Bench Max" name="bench"/>
    <input type="number" placeholder="Shoulder Press Max" name="shoulderPress"/>
    <input type="number" placeholder="Squat Max" name="squat"/>
    <input type="number" placeholder="Dead Lift Max" name="deadLift"/>
    <button type="submit">Calculate</button>
</form>
{{/person}}
{{#calculations}}
{{wkOneB}}
{{/calculations}}
</body>
</html>